<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>FooFighters Discography</title>
	<link href="../../Content/css/style.css" rel="stylesheet" />
</head>
<body>
	<header class="header">
		<h1>Foo Fighters</h1>
		<h3>Discografia</h3>
		<div class="header-right">
			<a href="#contact">CONTATO</a>
			<a href="#about">SOBRE</a>
		</div>
	</header>
	<div>
		@RenderBody()
	</div>
	<hr />
	<div class="footer">
		&copy;@DateTime.Now.Year Leandro
	</div>
</body>
</html>
